body {
    background-color: #FEFAE0;
}

#date {
    background-color: #E9EDC9;
    border-color: #D4A373;
}

#breakfast {
    background-color: #E9EDC9;
    border-color: #D4A373;
}

#lunch {
    background-color: #E9EDC9;
    border-color: #D4A373;
}

#snack {
    background-color: #E9EDC9;
    border-color: #D4A373;
}

#dinner {
    background-color: #E9EDC9;
    border-color: #D4A373;
}

.btn-primary {
    background-color: #D4A373;
    border-color: #D4A373;
    border-width: 4px;
}

.btn-outline-secondary {
    border-color: #D4A373;
    text-align: left;
}

.btn-outline-secondary:hover {
    background-color: #D4A373;
}

@media screen and (max-width: 500px) {
    #backBtn {
        display: block;
    }
    #text {
        margin-left: 40px;
    }
}