@font-face {
    font-family: useFont;
    src: url(AbrilFatface-Regular.ttf);
}

#main {
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-family: useFont;
}

#navbarPlaceholder {
    height: 0px;
}

body {
    background-color: #FEFAE0;
}

.meal_area {
    float: inline-start;
    width: 100%;
    background-color: #FAEDCD;
    border-radius: 5px;
    padding-bottom: 8px;
    margin-top: 50px;
}

#first_meal {
    margin-top: 30px;
}

#last_meal {
    margin-bottom: 15px;
}

.list_item {
    display: inline-block;
    list-style-type: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lists {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.meal_time {
    margin: 0px;
    padding-top: 14px;
    padding-bottom: 6px;
    text-align: center;
    color: #D4A373;
}

hr {
    color: #D4A373;
    margin-left: 10px;
    margin-right: 10px;
}

.button {
    color: #D4A373;
    background-color: #FAEDCD;
    border-color: #D4A373;
    border-radius: 3px;
}

.form-control::placeholder {
    color: #D4A373;
}

.form-check-input {
    background-color: #E9EDC9;
    border-color: #CCD5AE;
}

.form-check-input:checked {
    background-color: #CCD5AE;
    border-color: #E9EDC9;
}