body {
    background-color: #FEFAE0;
}

h1 {
    padding: 1em;
    color: #D4A373;
}

td {
    width: 150px;
    text-align: center;
    background-color: #CCD5AE;
    border: 1px solid black;
    padding: 5px;
}

h2 {
    text-align: center;
    text-decoration: underline;
    color: #D4A373;
    text-decoration-color: #D4A373;
}

.textbox {
    float: right;
    width: 70%;
}

.border {
    border-color: #D4A373;
}

.recipe_card {
    width: calc(96% - 8px);
    padding: 0px;
    outline: none;
    background: transparent;
    border: 1px solid transparent;
    margin: 2%;
}


.cards {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #FAEDCD;
    border: solid #FAEDCD;
    border-width: 4px;
    border-radius: 5px;
    height: 222px;
    float: left;
}

.cards img {
    box-sizing: border-box;
    float: left;
    margin: 5px;
    width: 200px;
    border-radius: 5px;
}



#text_area {
    color: #D4A373;
    text-align: center;
    float: right;
    margin-left: 20px;
    margin-right: 10px;
    width: calc(100% - 230px);
    height: 100%;
}


#title_area {
    height: fit-content;
}


.card_title {
    margin-top: 5px;

    font-size: 2.5rem;
}

hr {
    border: 1px solid #D4A373;
}

#todaysMeals {
    width: 100%;
    margin-top: 30px;
    float: left;
    border-radius: 5px;
    border: #D4A373 solid 5px;
    background-color: #D4A373;
    margin-bottom: 10px;
    overflow: hidden;
}
