body {
    background-color: #FEFAE0;
}

h1 {
    padding: 1em;
}

.days-table {
    text-align: center;
}

td {
    width: 150px;
    text-align: center;
    background-color: #CCD5AE;
    border: 1px solid black;
    padding: 5px;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

.textbox {
    float: right;
    width: 70%;
}

table {
    width: 100%;
}

.border {
    border-color: #D4A373;
}

.card {
  flex-direction: row;
  align-items: center;
  background-color: #E9EDC9;
  padding: 20px;
}

.card img {
  width: 300px;
}