body {
    /* Image by <a href="https://www.freepik.com/free-photo/flat-lay-decoration-with-pumpkins-stucco-background_5607388.htm#query=thanksgiving&position=4&from_view=search&track=sph">Freepik</a> */
    background-image: url('../images/top-view-delicious-thanksgiving-meal.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: gray;
    background-position: center;
}

h1.login_text {
    margin-top: 5px;
    color: #fefae0;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: #d4a373;
}

@media screen and (max-width: 400px) {
    body {
        background-size: cover;
    }
}

footer>div>span {
    -webkit-text-stroke: 1px white;
}